<div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">Welcome</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/book">Books</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Profile</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/cart/<%=glob.id%>">My Cart<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active" >
              <a class="nav-link" href="/logout">Logout<span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
      </nav> 
  </div>