<!DOCTYPE html>
<html>
<head>
	<title>Admin Home</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/abc/css/style.css">
</head>
<body>
	<div class="pd-20">
		<ul class="nav nav-pills nav-fill">
		  <li class="nav-item">
		    <a class="nav-link active" href="/profile">Profile</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="#">Customers</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="/orders">Orders</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="/addBooks">Add Books</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="/bookList">Book List</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="/logout">Logout</a>
		  </li>
		</ul>

	</div>
</body>
</html>